<% view = cms_page %>

<% cms_cache do
   links = cms_link(0, Float::INFINITY)
   image = cms_view_image
   block = cms_view_example
-%>

<div>
  <%= view.edit_link %>
  <%= view.add_link %>
</div>

<div>
  <ul <%= links.sortable_html %>>
    <%= links.each do |link| %>
      <li <%= link.sortable_html %>>
        <%= link.link_to %>
        <%= link.edit_link %>
      </li>
    <% end %>
  </ul>
  <%= links.add_link%>
</div>

<div>
  <%= image_tag image.path %>
  <%= image.edit_link %>
</div>

<div>
  <%= block.render %>
  <%= block.edit_link %>
</div>

<% end %>